<body>
    <form action="">
        <div class="flex-container" id="wrapper">
                <div id="input-box1">
                    <h1>Where  do you<br> wanna go?!</h1>
                </div>
                <div id="input-box">
                    &nbsp;
                    <input type="text" name = "destination" placeholder="Enter Destination" required>
                    &nbsp;
                    &nbsp;
                    <br>
                    &nbsp;
                    <input type="number" name = "noofppl" placeholder="Enter No of people" required>
                </div>
            
                <div id="input-box">
                    <p>Start Date</p>
                    <input type="date" name= "Fromdate" placeholder="Start Date" required>
                    &nbsp;
                    <p>End Date</p>
                    <input type="date" name= "Todate" placeholder="End Date" required>
                </div>
                
                <div id="input-box1">
                    <button type="submit" class="btn">Plan</button>
                </div>
        </div>
    </form>

<br>
<h1>Traveller's Choice</h1>

<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front" id="hyd">
        <div class="center"><h2>Hyderabad</h2></div>
      </div>
      <div class="flip-card-back">
        <h2>Hyderabad</h2>
        &nbsp;
        <p>Hyderabad, India's vibrant and historic city, boasts a unique blend of tradition and modernity. Explore the iconic Charminar, the regal Golconda Fort, and the luxurious Chowmahalla Palace. Savor the delectable Hyderabadi biryani, experience the bustling markets, and embrace the warm hospitality. A city of rich culture and innovation awaits your discovery.</p>
       <button type="submit" class="btn">Explore</button>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front" id="goa">
        <div class="center"><h2>Goa</h2></div>
      </div>
      <div class="flip-card-back">
        <h2>Goa</h2>
        &nbsp;
        <p>Goa, is a union territory on India's southwest coast, is a captivating tourist destination known for its beautiful beaches, vibrant nightlife, and rich cultural heritage. Visitors can explore historic Portuguese architecture, indulge in water sports, savor delicious seafood, and experience a unique blend of Indian and Western influences in this tropical paradise.</p>
       <button type="submit" class="btn">Explore</button>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front" id="tamil">
        <div class="center"> <h2>Tamilnadu</h2></div>
      </div>
      <div class="flip-card-back">
        <h2>Tamilnadu</h2>
        &nbsp;
        <p>Tamil Nadu, in southern India, offers a rich cultural tapestry and natural beauty. Explore ancient temples like the Brihadeeswara,  Srirangam, symbol of love Ramasetu, indulge in mouthwatering cuisine, and experience vibrant festivals. Visit Chennai for a modern city experience, Pondicherry for French colonial charm, and the lush Nilgiri Hills for stunning landscapes.</p>
       <button type="submit" class="btn">Explore</button>
      </div>
    </div>
  </div>

  <div class="flip-card" >
    <div class="flip-card-inner">
      <div class="flip-card-front" id="Bangalore">
        <div class="center"><h2>Bangalore</h2></div>
      </div>
      <div class="flip-card-back">
        <h2>Bangalore</h2>
        &nbsp;
        <p>Bangalore, is the “Silicon Valley of India” and This capital city of Karnataka . It is India's dynamic tech hub and a vibrant metropolis. Known for its pleasant climate, lush greenery, and diverse culture, this city offers a blend of modernity and tradition. Explore its thriving IT industry, historic landmarks, bustling markets, and a wide array of culinary delights.</p>
       <button type="submit" class="btn">Explore</button>
      </div>
    </div>
  </div>
</body>
